In [484]:
# Import dependencies
import pandas as pd
import matplotlib.pyplot as plt
import datetime as dt 
from datetime import timedelta

In [485]:
# Read in data frame
fifa_df = pd.read_csv('./fifaFiles/fifa21_raw_data_v2.csv')

C:\Users\User\AppData\Local\Temp\ipykernel_9728\2439821882.py:2: DtypeWarning: Columns (76) have mixed types. Specify dtype option on import or set low_memory=False.
  fifa_df = pd.read_csv('./fifaFiles/fifa21_raw_data_v2.csv')

In [486]:
fifa_df.head()

,ID,Name,LongName,photoUrl,playerUrl,Nationality,Age,↓OVA,POT,Club,...,A/W,D/W,IR,PAC,SHO,PAS,DRI,DEF,PHY,Hits
0,158023,L. Messi,Lionel Messi,https://cdn.sofifa.com/players/158/023/21_60.png,http://sofifa.com/player/158023/lionel-messi/2...,Argentina,33,93,93,\n\n\n\nFC Barcelona,...,Medium,Low,5 ★,85,92,91,95,38,65,771
1,20801,Cristiano Ronaldo,C. Ronaldo dos Santos Aveiro,https://cdn.sofifa.com/players/020/801/21_60.png,http://sofifa.com/player/20801/c-ronaldo-dos-s...,Portugal,35,92,92,\n\n\n\nJuventus,...,High,Low,5 ★,89,93,81,89,35,77,562
2,200389,J. Oblak,Jan Oblak,https://cdn.sofifa.com/players/200/389/21_60.png,http://sofifa.com/player/200389/jan-oblak/210006/,Slovenia,27,91,93,\n\n\n\nAtlético Madrid,...,Medium,Medium,3 ★,87,92,78,90,52,90,150
3,192985,K. De Bruyne,Kevin De Bruyne,https://cdn.sofifa.com/players/192/985/21_60.png,http://sofifa.com/player/192985/kevin-de-bruyn...,Belgium,29,91,91,\n\n\n\nManchester City,...,High,High,4 ★,76,86,93,88,64,78,207
4,190871,Neymar Jr,Neymar da Silva Santos Jr.,https://cdn.sofifa.com/players/190/871/21_60.png,http://sofifa.com/player/190871/neymar-da-silv...,Brazil,28,91,91,\n\n\n\nParis Saint-Germain,...,High,Medium,5 ★,91,85,86,94,36,59,595

# Data Cleaning

In [487]:
# Look at column names
fifa_df.columns

Index(['ID', 'Name', 'LongName', 'photoUrl', 'playerUrl', 'Nationality', 'Age',
       '↓OVA', 'POT', 'Club', 'Contract', 'Positions', 'Height', 'Weight',
       'Preferred Foot', 'BOV', 'Best Position', 'Joined', 'Loan Date End',
       'Value', 'Wage', 'Release Clause', 'Attacking', 'Crossing', 'Finishing',
       'Heading Accuracy', 'Short Passing', 'Volleys', 'Skill', 'Dribbling',
       'Curve', 'FK Accuracy', 'Long Passing', 'Ball Control', 'Movement',
       'Acceleration', 'Sprint Speed', 'Agility', 'Reactions', 'Balance',
       'Power', 'Shot Power', 'Jumping', 'Stamina', 'Strength', 'Long Shots',
       'Mentality', 'Aggression', 'Interceptions', 'Positioning', 'Vision',
       'Penalties', 'Composure', 'Defending', 'Marking', 'Standing Tackle',
       'Sliding Tackle', 'Goalkeeping', 'GK Diving', 'GK Handling',
       'GK Kicking', 'GK Positioning', 'GK Reflexes', 'Total Stats',
       'Base Stats', 'W/F', 'SM', 'A/W', 'D/W', 'IR', 'PAC', 'SHO', 'PAS',
       'DRI', 'DEF', 'PHY', 'Hits'],
      dtype='object')

In [488]:
# Look at column types of 
fifa_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18979 entries, 0 to 18978
Data columns (total 77 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                18979 non-null  int64
 1   Name              18979 non-null  object
 2   LongName          18979 non-null  object
 3   photoUrl          18979 non-null  object
 4   playerUrl         18979 non-null  object
 5   Nationality       18979 non-null  object
 6   Age               18979 non-null  int64
 7   ↓OVA              18979 non-null  int64
 8   POT               18979 non-null  int64
 9   Club              18979 non-null  object
 10  Contract          18979 non-null  object
 11  Positions         18979 non-null  object
 12  Height            18979 non-null  object
 13  Weight            18979 non-null  object
 14  Preferred Foot    18979 non-null  object
 15  BOV               18979 non-null  int64
 16  Best Position     18979 non-null  object
 17  Joined            18979 non-null  object
 18  Loan Date End     1013 non-null   object
 19  Value             18979 non-null  object
 20  Wage              18979 non-null  object
 21  Release Clause    18979 non-null  object
 22  Attacking         18979 non-null  int64
 23  Crossing          18979 non-null  int64
 24  Finishing         18979 non-null  int64
 25  Heading Accuracy  18979 non-null  int64
 26  Short Passing     18979 non-null  int64
 27  Volleys           18979 non-null  int64
 28  Skill             18979 non-null  int64
 29  Dribbling         18979 non-null  int64
 30  Curve             18979 non-null  int64
 31  FK Accuracy       18979 non-null  int64
 32  Long Passing      18979 non-null  int64
 33  Ball Control      18979 non-null  int64
 34  Movement          18979 non-null  int64
 35  Acceleration      18979 non-null  int64
 36  Sprint Speed      18979 non-null  int64
 37  Agility           18979 non-null  int64
 38  Reactions         18979 non-null  int64
 39  Balance           18979 non-null  int64
 40  Power             18979 non-null  int64
 41  Shot Power        18979 non-null  int64
 42  Jumping           18979 non-null  int64
 43  Stamina           18979 non-null  int64
 44  Strength          18979 non-null  int64
 45  Long Shots        18979 non-null  int64
 46  Mentality         18979 non-null  int64
 47  Aggression        18979 non-null  int64
 48  Interceptions     18979 non-null  int64
 49  Positioning       18979 non-null  int64
 50  Vision            18979 non-null  int64
 51  Penalties         18979 non-null  int64
 52  Composure         18979 non-null  int64
 53  Defending         18979 non-null  int64
 54  Marking           18979 non-null  int64
 55  Standing Tackle   18979 non-null  int64
 56  Sliding Tackle    18979 non-null  int64
 57  Goalkeeping       18979 non-null  int64
 58  GK Diving         18979 non-null  int64
 59  GK Handling       18979 non-null  int64
 60  GK Kicking        18979 non-null  int64
 61  GK Positioning    18979 non-null  int64
 62  GK Reflexes       18979 non-null  int64
 63  Total Stats       18979 non-null  int64
 64  Base Stats        18979 non-null  int64
 65  W/F               18979 non-null  object
 66  SM                18979 non-null  object
 67  A/W               18979 non-null  object
 68  D/W               18979 non-null  object
 69  IR                18979 non-null  object
 70  PAC               18979 non-null  int64
 71  SHO               18979 non-null  int64
 72  PAS               18979 non-null  int64
 73  DRI               18979 non-null  int64
 74  DEF               18979 non-null  int64
 75  PHY               18979 non-null  int64
 76  Hits              16384 non-null  object
dtypes: int64(54), object(23)
memory usage: 11.1+ MB

In [489]:
fifa_df = fifa_df.drop(['LongName', 'photoUrl', 'playerUrl', 'Loan Date End'], axis=1)

In [490]:
# Drop NaN values
fifa_df.dropna()

,ID,Name,Nationality,Age,↓OVA,POT,Club,Contract,Positions,Height,...,A/W,D/W,IR,PAC,SHO,PAS,DRI,DEF,PHY,Hits
0,158023,L. Messi,Argentina,33,93,93,\n\n\n\nFC Barcelona,2004 ~ 2021,"RW, ST, CF",170cm,...,Medium,Low,5 ★,85,92,91,95,38,65,771
1,20801,Cristiano Ronaldo,Portugal,35,92,92,\n\n\n\nJuventus,2018 ~ 2022,"ST, LW",187cm,...,High,Low,5 ★,89,93,81,89,35,77,562
2,200389,J. Oblak,Slovenia,27,91,93,\n\n\n\nAtlético Madrid,2014 ~ 2023,GK,188cm,...,Medium,Medium,3 ★,87,92,78,90,52,90,150
3,192985,K. De Bruyne,Belgium,29,91,91,\n\n\n\nManchester City,2015 ~ 2023,"CAM, CM",181cm,...,High,High,4 ★,76,86,93,88,64,78,207
4,190871,Neymar Jr,Brazil,28,91,91,\n\n\n\nParis Saint-Germain,2017 ~ 2022,"LW, CAM",175cm,...,High,Medium,5 ★,91,85,86,94,36,59,595
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16616,252210,P. Żuk,Poland,19,58,73,\n\n\n\nWisła Płock,2020 ~ 2022,"RB, RM",177cm,...,Medium,Medium,1 ★,74,29,41,51,53,57,1.0
16617,258609,A. Fouda,Cameroon,20,58,70,\n\n\n\nStade Malherbe Caen,2019 ~ 2024,LB,175cm,...,Medium,Medium,1 ★,64,32,50,53,55,50,1.0
16618,226352,J. Sowerby,England,25,58,62,\n\n\n\nNorthampton Town,2020 ~ 2022,"CM, CDM",175cm,...,Medium,Medium,1 ★,47,49,52,60,55,52,1.0
16619,247608,O. Gastrell,Australia,34,58,58,\n\n\n\nCentral Coast Mariners,2020 ~ 2023,CB,186cm,...,Medium,High,1 ★,42,22,32,43,58,62,1.0
16636,254003,Arambarri,Spain,22,58,67,\n\n\n\nReal Sociedad,2018 ~ 2023,CB,186cm,...,Medium,Medium,1 ★,55,25,34,33,58,67,6.0

In [491]:
# Drop find total null values
fifa_df.isnull().sum()

ID                0
Name              0
Nationality       0
Age               0
↓OVA              0
               ...
PAS               0
DRI               0
DEF               0
PHY               0
Hits           2595
Length: 73, dtype: int64

In [492]:
fifa_df.rename(columns={
    'Weight': 'Weight (lbs)',
    })

,ID,Name,Nationality,Age,↓OVA,POT,Club,Contract,Positions,Height,...,A/W,D/W,IR,PAC,SHO,PAS,DRI,DEF,PHY,Hits
0,158023,L. Messi,Argentina,33,93,93,\n\n\n\nFC Barcelona,2004 ~ 2021,"RW, ST, CF",170cm,...,Medium,Low,5 ★,85,92,91,95,38,65,771
1,20801,Cristiano Ronaldo,Portugal,35,92,92,\n\n\n\nJuventus,2018 ~ 2022,"ST, LW",187cm,...,High,Low,5 ★,89,93,81,89,35,77,562
2,200389,J. Oblak,Slovenia,27,91,93,\n\n\n\nAtlético Madrid,2014 ~ 2023,GK,188cm,...,Medium,Medium,3 ★,87,92,78,90,52,90,150
3,192985,K. De Bruyne,Belgium,29,91,91,\n\n\n\nManchester City,2015 ~ 2023,"CAM, CM",181cm,...,High,High,4 ★,76,86,93,88,64,78,207
4,190871,Neymar Jr,Brazil,28,91,91,\n\n\n\nParis Saint-Germain,2017 ~ 2022,"LW, CAM",175cm,...,High,Medium,5 ★,91,85,86,94,36,59,595
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18974,247223,Xia Ao,China PR,21,47,55,\n\n\n\nWuhan Zall,2018 ~ 2022,CB,178cm,...,Medium,Medium,1 ★,64,28,26,38,48,51,NaN
18975,258760,B. Hough,England,17,47,67,\n\n\n\nOldham Athletic,2020 ~ 2021,CM,175cm,...,Medium,Medium,1 ★,64,40,48,49,35,45,NaN
18976,252757,R. McKinley,England,18,47,65,\n\n\n\nDerry City,2019 ~ 2020,CM,179cm,...,Medium,Medium,1 ★,63,39,44,46,40,53,NaN
18977,243790,Wang Zhen'ao,China PR,20,47,57,\n\n\n\nDalian YiFang FC,2020 ~ 2022,RW,175cm,...,Medium,Medium,1 ★,58,49,41,49,30,44,NaN
18978,252520,Zhou Xiao,China PR,21,47,57,\n\n\n\nDalian YiFang FC,2019 ~ 2023,"CB, LB",188cm,...,Medium,Medium,1 ★,62,22,39,42,45,55,NaN

In [493]:
# Fill 'Hit' column with '0' for null values
fifa_df['Hits'] = fifa_df['Hits'].fillna(0)

## Convert the height and weight columns to numerical forms

In [494]:
fifa_df['Height'].unique()

array(['170cm', '187cm', '188cm', '181cm', '175cm', '184cm', '191cm',
       '178cm', '193cm', '185cm', '199cm', '173cm', '168cm', '176cm',
       '177cm', '183cm', '180cm', '189cm', '179cm', '195cm', '172cm',
       '182cm', '186cm', '192cm', '165cm', '194cm', '167cm', '196cm',
       '163cm', '190cm', '174cm', '169cm', '171cm', '197cm', '200cm',
       '166cm', '6\'2"', '164cm', '198cm', '6\'3"', '6\'5"', '5\'11"',
       '6\'4"', '6\'1"', '6\'0"', '5\'10"', '5\'9"', '5\'6"', '5\'7"',
       '5\'4"', '201cm', '158cm', '162cm', '161cm', '160cm', '203cm',
       '157cm', '156cm', '202cm', '159cm', '206cm', '155cm'], dtype=object)

In [495]:
# Remove 'cm' from Height column values and convert feet/inches to centimeters
height = []

for i in range(len(fifa_df)):
    Height = fifa_df['Height'][i]
    
    if 'cm' in Height:
        Height = float(Height.rstrip('cm'))
        height.append(Height)
        
    elif "'" in Height: 
        Height = Height.rstrip('"').split("'")
        Height = float(Height[0]) * 12 + float(Height[1])
        Height = Height * 2.54
        Height = round(Height, 2)        
        height.append(Height)

fifa_df['Height'] = height

In [496]:
fifa_df['Height'].unique()

array([170.  , 187.  , 188.  , 181.  , 175.  , 184.  , 191.  , 178.  ,
       193.  , 185.  , 199.  , 173.  , 168.  , 176.  , 177.  , 183.  ,
       180.  , 189.  , 179.  , 195.  , 172.  , 182.  , 186.  , 192.  ,
       165.  , 194.  , 167.  , 196.  , 163.  , 190.  , 174.  , 169.  ,
       171.  , 197.  , 200.  , 166.  , 187.96, 164.  , 198.  , 190.5 ,
       195.58, 180.34, 193.04, 185.42, 182.88, 177.8 , 175.26, 167.64,
       170.18, 162.56, 201.  , 158.  , 162.  , 161.  , 160.  , 203.  ,
       157.  , 156.  , 202.  , 159.  , 206.  , 155.  ])

In [497]:
fifa_df['Weight'].unique()

array(['72kg', '83kg', '87kg', '70kg', '68kg', '80kg', '71kg', '91kg',
       '73kg', '85kg', '92kg', '69kg', '84kg', '96kg', '81kg', '82kg',
       '75kg', '86kg', '89kg', '74kg', '76kg', '64kg', '78kg', '90kg',
       '66kg', '60kg', '94kg', '79kg', '67kg', '65kg', '59kg', '61kg',
       '93kg', '88kg', '97kg', '77kg', '62kg', '63kg', '95kg', '100kg',
       '58kg', '183lbs', '179lbs', '172lbs', '196lbs', '176lbs', '185lbs',
       '170lbs', '203lbs', '168lbs', '161lbs', '146lbs', '130lbs',
       '190lbs', '174lbs', '148lbs', '165lbs', '159lbs', '192lbs',
       '181lbs', '139lbs', '154lbs', '157lbs', '163lbs', '98kg', '103kg',
       '99kg', '102kg', '56kg', '101kg', '57kg', '55kg', '104kg', '107kg',
       '110kg', '53kg', '50kg', '54kg', '52kg'], dtype=object)

In [498]:
# Remove 'kg' or 'lbs' from Weight column
weight = []
for i in range(len(fifa_df)):
    Weight = fifa_df['Weight'][i]
    
    # Convert values from 'kg' to 'lbs'
    if 'kg' in Weight:
        Weight = float(Weight.rstrip('kg')) * 2.20462
        Weight = round(Weight, 2)
        weight.append(Weight)
    else:
        Weight = float(Weight.rstrip('lbs'))
        weight.append(Weight)

fifa_df['Weight'] = weight

In [499]:
fifa_df['Weight'].unique()

array([158.73, 182.98, 191.8 , 154.32, 149.91, 176.37, 156.53, 200.62,
       160.94, 187.39, 202.83, 152.12, 185.19, 211.64, 178.57, 180.78,
       165.35, 189.6 , 196.21, 163.14, 167.55, 141.1 , 171.96, 198.42,
       145.5 , 132.28, 207.23, 174.16, 147.71, 143.3 , 130.07, 134.48,
       205.03, 194.01, 213.85, 169.76, 136.69, 138.89, 209.44, 220.46,
       127.87, 183.  , 179.  , 172.  , 196.  , 176.  , 185.  , 170.  ,
       203.  , 168.  , 161.  , 146.  , 130.  , 190.  , 174.  , 148.  ,
       165.  , 159.  , 192.  , 181.  , 139.  , 154.  , 157.  , 163.  ,
       216.05, 227.08, 218.26, 224.87, 123.46, 222.67, 125.66, 121.25,
       229.28, 235.89, 242.51, 116.84, 110.23, 119.05, 114.64])

### Remove the unnecessary newline characters from all columns that have them.

In [500]:
fifa_df.head()

,ID,Name,Nationality,Age,↓OVA,POT,Club,Contract,Positions,Height,...,A/W,D/W,IR,PAC,SHO,PAS,DRI,DEF,PHY,Hits
0,158023,L. Messi,Argentina,33,93,93,\n\n\n\nFC Barcelona,2004 ~ 2021,"RW, ST, CF",170.0,...,Medium,Low,5 ★,85,92,91,95,38,65,771
1,20801,Cristiano Ronaldo,Portugal,35,92,92,\n\n\n\nJuventus,2018 ~ 2022,"ST, LW",187.0,...,High,Low,5 ★,89,93,81,89,35,77,562
2,200389,J. Oblak,Slovenia,27,91,93,\n\n\n\nAtlético Madrid,2014 ~ 2023,GK,188.0,...,Medium,Medium,3 ★,87,92,78,90,52,90,150
3,192985,K. De Bruyne,Belgium,29,91,91,\n\n\n\nManchester City,2015 ~ 2023,"CAM, CM",181.0,...,High,High,4 ★,76,86,93,88,64,78,207
4,190871,Neymar Jr,Brazil,28,91,91,\n\n\n\nParis Saint-Germain,2017 ~ 2022,"LW, CAM",175.0,...,High,Medium,5 ★,91,85,86,94,36,59,595

In [501]:
# Remove '\n' from 'Club' column
fifa_df['Club'] = fifa_df['Club'].replace(r'\s+|\\n', ' ', regex=True) 
fifa_df.head()

,ID,Name,Nationality,Age,↓OVA,POT,Club,Contract,Positions,Height,...,A/W,D/W,IR,PAC,SHO,PAS,DRI,DEF,PHY,Hits
0,158023,L. Messi,Argentina,33,93,93,FC Barcelona,2004 ~ 2021,"RW, ST, CF",170.0,...,Medium,Low,5 ★,85,92,91,95,38,65,771
1,20801,Cristiano Ronaldo,Portugal,35,92,92,Juventus,2018 ~ 2022,"ST, LW",187.0,...,High,Low,5 ★,89,93,81,89,35,77,562
2,200389,J. Oblak,Slovenia,27,91,93,Atlético Madrid,2014 ~ 2023,GK,188.0,...,Medium,Medium,3 ★,87,92,78,90,52,90,150
3,192985,K. De Bruyne,Belgium,29,91,91,Manchester City,2015 ~ 2023,"CAM, CM",181.0,...,High,High,4 ★,76,86,93,88,64,78,207
4,190871,Neymar Jr,Brazil,28,91,91,Paris Saint-Germain,2017 ~ 2022,"LW, CAM",175.0,...,High,Medium,5 ★,91,85,86,94,36,59,595

### Based on the 'Joined' column, check which players have been playing at a club for more than 10 years!

In [502]:
fifa_df['Joined'] = fifa_df['Joined'].str.replace(",", "").str.split(" ")

In [503]:
fifa_df['Joined']

0         [Jul, 1, 2004]
1        [Jul, 10, 2018]
2        [Jul, 16, 2014]
3        [Aug, 30, 2015]
4         [Aug, 3, 2017]
              ...
18974    [Jul, 13, 2018]
18975     [Aug, 1, 2020]
18976     [Mar, 8, 2019]
18977    [Sep, 22, 2020]
18978    [Jul, 29, 2019]
Name: Joined, Length: 18979, dtype: object

In [504]:
# Convert month name to month number
correct_date = []

for i in range(len(fifa_df['Joined'])):
    month = fifa_df['Joined'][i][0]
    day = fifa_df['Joined'][i][1]
    year = fifa_df['Joined'][i][2]    
    
    if month == 'Jan':
        month = '1'
    elif month == 'Feb':
        month = '2'
    elif month == 'Mar':
        month = '3'
    elif month == 'Apr':
        month = '4'
    elif month == 'May':
        month = '5'        
    elif month == 'Jun':
        month = '6'
    elif month == 'Jul':
        month = '7'
    elif month == 'Aug':
        month = '8'
    elif month == 'Sep':
        month = '9'
    elif month == 'Oct':
        month = '10'
    elif month == 'Nov':
        month = '11'
    else:
        month = '12'
        
    if len(day) == 1:
        day = ('0' + str(day))
    
    date_format = (month + '-' + day + '-' + year)
    date_format = pd.to_datetime(date_format)
    correct_date.append(date_format)
    
fifa_df['Joined'] = correct_date

In [505]:
time_at_club = []
for i in range(len(fifa_df)):
    time_at_club.append(pd.Timestamp.now().year - correct_date[i].year)

fifa_df['Playing at Club (yrs)'] = time_at_club

In [506]:
fifa_df[['Playing at Club (yrs)']]

       Playing at Club (yrs)
0                         19
1                          5
2                          9
3                          8
4                          6
...                      ...
18974                      5
18975                      3
18976                      4
18977                      3
18978                      4

[18979 rows x 1 columns]

### 'Value', 'Wage' and "Release Clause' are string columns. Convert them to numbers. For eg, "M" in value column is Million, so multiply the row values by 1,000,000, etc.

In [507]:
fifa_df['Value'].unique()

array(['€103.5M', '€63M', '€120M', '€129M', '€132M', '€111M', '€120.5M',
       '€102M', '€185.5M', '€110M', '€113M', '€90.5M', '€82M', '€17.5M',
       '€83.5M', '€33.5M', '€114.5M', '€78M', '€103M', '€109M', '€92M',
       '€10M', '€76.5M', '€89.5M', '€87.5M', '€79.5M', '€124M', '€114M',
       '€95M', '€92.5M', '€105.5M', '€88.5M', '€85M', '€81.5M', '€26M',
       '€21M', '€56M', '€67.5M', '€53M', '€36.5M', '€51M', '€65.5M',
       '€46.5M', '€61.5M', '€72.5M', '€77.5M', '€43.5M', '€32.5M', '€36M',
       '€32M', '€54M', '€49.5M', '€57M', '€66.5M', '€74.5M', '€71.5M',
       '€121M', '€99M', '€67M', '€86.5M', '€93.5M', '€70M', '€62M',
       '€66M', '€58M', '€44M', '€81M', '€37M', '€14.5M', '€46M', '€47.5M',
       '€52.5M', '€54.5M', '€34.5M', '€57.5M', '€51.5M', '€44.5M', '€55M',
       '€48M', '€60.5M', '€63.5M', '€61M', '€29M', '€58.5M', '€55.5M',
       '€42M', '€40.5M', '€43M', '€45.5M', '€34M', '€26.5M', '€42.5M',
       '€35.5M', '€45M', '€41.5M', '€40M', '€11M', '€13.5M', '€29.5M',
       '€27M', '€15.5M', '€38.5M', '€52M', '€33M', '€19M', '€73.5M',
       '€38M', '€35M', '€47M', '€24M', '€30.5M', '€18M', '€28M', '€25.5M',
       '€25M', '€31M', '€23.5M', '€30M', '€31.5M', '€22.5M', '€28.5M',
       '€4M', '€12.5M', '€37.5M', '€27.5M', '€16M', '€15M', '€20.5M',
       '€22M', '€3.4M', '€5M', '€56.5M', '€62.5M', '€0', '€39M', '€24.5M',
       '€21.5M', '€13M', '€8M', '€20M', '€8.5M', '€2.9M', '€9M', '€4.6M',
       '€50M', '€23M', '€18.5M', '€7M', '€19.5M', '€5.5M', '€7.5M',
       '€3.8M', '€14M', '€10.5M', '€16.5M', '€3.6M', '€9.5M', '€39.5M',
       '€17M', '€12M', '€11.5M', '€4.9M', '€3M', '€1.9M', '€6.5M',
       '€1.7M', '€2.4M', '€3.1M', '€6M', '€3.7M', '€4.7M', '€4.3M',
       '€2.1M', '€1.2M', '€1.8M', '€4.8M', '€3.2M', '€1.3M', '€825K',
       '€2.3M', '€1.5M', '€3.9M', '€2.6M', '€3.5M', '€2.8M', '€2.7M',
       '€4.4M', '€4.1M', '€950K', '€1.6M', '€625K', '€1.1M', '€4.5M',
       '€4.2M', '€2.2M', '€3.3M', '€1.4M', '€2M', '€475K', '€925K',
       '€750K', '€725K', '€2.5M', '€1M', '€350K', '€525K', '€600K',
       '€850K', '€800K', '€550K', '€250K', '€400K', '€425K', '€575K',
       '€210K', '€325K', '€900K', '€875K', '€650K', '€700K', '€500K',
       '€975K', '€375K', '€775K', '€275K', '€180K', '€450K', '€675K',
       '€150K', '€240K', '€300K', '€130K', '€220K', '€200K', '€110K',
       '€170K', '€230K', '€90K', '€120K', '€80K', '€190K', '€140K',
       '€160K', '€100K', '€60K', '€50K', '€70K', '€45K', '€35K', '€40K',
       '€25K', '€20K', '€15K', '€30K', '€9K'], dtype=object)

In [508]:
# Remove '€' sign and 'M'/'K' from columns
value = []
for i in range(len(fifa_df)):
    Value = fifa_df['Value'][i]
    
    # Convert strings to their respective multiple
    if 'M' in Value:
        Value = Value.replace("€","").rstrip("M")
        Value = pd.to_numeric(Value, errors='coerce')
        value.append(Value * 1000000)
    else:
        Value = Value.replace("€","").rstrip("K")
        Value = pd.to_numeric(Value, errors='coerce')
        value.append(Value * 1000) 

fifa_df['Value'] = value

In [509]:
# Remove '€' sign and 'M'/'K' from columns
wage = []
for i in range(len(fifa_df)):
    Wage = fifa_df['Wage'][i]
    
    # Convert strings to their respective multiple
    if 'M' in Wage:
        Wage = Wage.replace("€","").rstrip("M")
        Wage = pd.to_numeric(Wage, errors='coerce')
        wage.append(Wage * 1000000)
    else:
        Wage = Wage.replace("€","").rstrip("K")
        Wage = pd.to_numeric(Wage, errors='coerce')
        wage.append(Wage * 1000) 

fifa_df['Wage'] = wage

In [510]:
# Remove '€' sign and 'M'/'K' from columns
release_clause = []
for i in range(len(fifa_df)):
    Release = fifa_df['Release Clause'][i]
    
    # Convert strings to their respective multiple
    if 'M' in Release:
        Release = Release.replace("€","").rstrip("M")
        Release = pd.to_numeric(Release, errors='coerce')
        release_clause.append(Release * 1000000)
    else:
        Release = Release.replace("€","").rstrip("K")
        Release = pd.to_numeric(Release, errors='coerce')
        release_clause.append(Release * 1000) 

fifa_df['Release Clause'] = release_clause

### Some columns have 'star' characters. Strip those columns of these stars and make the columns numerical

In [511]:
fifa_df['IR']

0        5 ★
1        5 ★
2        3 ★
3        4 ★
4        5 ★
        ...
18974    1 ★
18975    1 ★
18976    1 ★
18977    1 ★
18978    1 ★
Name: IR, Length: 18979, dtype: object

In [512]:
fifa_df['IR'] = fifa_df['IR'].str.replace('★', '').astype('int64')
fifa_df['IR']

0        5
1        5
2        3
3        4
4        5
        ..
18974    1
18975    1
18976    1
18977    1
18978    1
Name: IR, Length: 18979, dtype: int64

In [513]:
fifa_df['Hits'].unique()

array(['771', '562', '150', '207', '595', '248', '246', '120', '1.6K',
       '130', '321', '189', '175', '96', '118', '216', '212', '154',
       '205', '202', '339', '408', '103', '332', '86', '173', '161',
       '396', '1.1K', '433', '242', '206', '177', '1.5K', '198', '459',
       '117', '119', '209', '84', '187', '165', '203', '65', '336', '126',
       '313', '124', '145', '538', '182', '101', '45', '377', '99', '194',
       '403', '414', '593', '374', '245', '3.2K', '266', '299', '309',
       '215', '265', '211', '112', '337', '70', '159', '688', '116', '63',
       '144', '123', '71', '224', '113', '168', '61', '89', '137', '278',
       '75', '148', '176', '197', '264', '214', '247', '402', '440',
       '1.7K', '2.3K', '171', '320', '657', '87', '259', '200', '255',
       '253', '196', '60', '97', '85', '169', '256', '132', '239', '166',
       '121', '109', '32', '46', '122', '48', '527', '199', '282', '51',
       '1.9K', '642', '155', '323', '288', '497', '509', '79', '49',
       '270', '511', '80', '128', '115', '156', '204', '143', '140',
       '152', '220', '134', '225', '94', '74', '135', '142', '50', '77',
       '40', '107', '193', '179', '34', '64', '453', '57', '81', '28',
       '78', '133', '43', '425', '88', '42', '36', '233', '376', '210',
       '444', '100', '263', '98', '29', '160', '39', '257', '6', '310',
       '138', '62', '293', '285', '362', '66', '69', '58', '21', '20',
       '131', '38', '406', '68', '108', '110', '93', '512', '443', '306',
       '352', '422', '585', '346', '178', '841', '76', '394', '72', '172',
       '44', '407', '230', '367', '295', '157', '243', '56', '111', '326',
       '679', '18', '92', '59', '25', '184', '53', '12', '90', '55', '73',
       '11', '566', '180', '83', '262', '17', '26', '31', '280', '359',
       '213', '297', '387', '480', '381', '677', '486', '8', '244', '129',
       '388', '275', '319', '2K', '52', '91', '421', '153', '27', '41',
       '222', '35', '102', '23', '30', '33', '146', '13', '19', '14',
       '106', '276', '568', '353', '47', '478', '249', '254', '369',
       '219', '565', '237', '227', '434', '375', '162', '605', '654', '3',
       '7', '9', '104', '114', '186', '446', '756', '22', '139', '500',
       '67', '147', '149', '16', '82', '54', '37', '15', '1.3K', '3K',
       '952', '5', '749', '541', '330', '393', '517', '770', '409', '170',
       '125', '283', '342', '363', '580', '105', '217', '24', '141', '10',
       '427', '158', '426', '4', '666', '181', '324', '979', '1.4K',
       '302', '751', '298', '411', '944', '2', '947', '292', '349', '621',
       '1', '2.8K', '338', '287', '261', '218', '1.8K', '240', '279',
       '229', '188', '315', '664', '613', '190', '706', '127', '462',
       '386', '695', '491', '167', '281', '250', '307', '95', '231',
       '174', '680', '633', '221', '348', '602', '183', '653', '195',
       '164', '151', '258', '8.4K', '343', '419', '655', '136', '399',
       '531', '357', '228', '385', '312', '340', '238', '487', '355',
       '499', '4.3K', '296', '515', '943', '1.2K', '903', '335', '191',
       '594', '267', '617', '516', '504', '331', '652', '410', '550',
       '473', '442', '344', '208', '1K', '2.5K', '273', '485', '826',
       '192', '405', '941', '477', '644', '303', '417', '6K', 0, 11.0,
       2.0, 1.0, 31.0, 3.0, 10.0, 9.0, 17.0, 7.0, 4.0, 6.0], dtype=object)

In [514]:
# Convert 'Hits' column from object to integer
hits = []
for i in range(len(fifa_df)):
    Hits = fifa_df['Hits'][i]
    
    if type(Hits) == str and 'K' in Hits:
        Hits = Hits.replace('K', '')
        Hits = float(Hits) * 1000
        hits.append(Hits)
    else:
        hits.append(Hits)

fifa_df['Hits'] = hits

In [515]:
fifa_df['Hits'] = fifa_df['Hits'].astype('int32')

In [516]:
fifa_df['Hits'].unique()

array([ 771,  562,  150,  207,  595,  248,  246,  120, 1600,  130,  321,
        189,  175,   96,  118,  216,  212,  154,  205,  202,  339,  408,
        103,  332,   86,  173,  161,  396, 1100,  433,  242,  206,  177,
       1500,  198,  459,  117,  119,  209,   84,  187,  165,  203,   65,
        336,  126,  313,  124,  145,  538,  182,  101,   45,  377,   99,
        194,  403,  414,  593,  374,  245, 3200,  266,  299,  309,  215,
        265,  211,  112,  337,   70,  159,  688,  116,   63,  144,  123,
         71,  224,  113,  168,   61,   89,  137,  278,   75,  148,  176,
        197,  264,  214,  247,  402,  440, 1700, 2300,  171,  320,  657,
         87,  259,  200,  255,  253,  196,   60,   97,   85,  169,  256,
        132,  239,  166,  121,  109,   32,   46,  122,   48,  527,  199,
        282,   51, 1900,  642,  155,  323,  288,  497,  509,   79,   49,
        270,  511,   80,  128,  115,  156,  204,  143,  140,  152,  220,
        134,  225,   94,   74,  135,  142,   50,   77,   40,  107,  193,
        179,   34,   64,  453,   57,   81,   28,   78,  133,   43,  425,
         88,   42,   36,  233,  376,  210,  444,  100,  263,   98,   29,
        160,   39,  257,    6,  310,  138,   62,  293,  285,  362,   66,
         69,   58,   21,   20,  131,   38,  406,   68,  108,  110,   93,
        512,  443,  306,  352,  422,  585,  346,  178,  841,   76,  394,
         72,  172,   44,  407,  230,  367,  295,  157,  243,   56,  111,
        326,  679,   18,   92,   59,   25,  184,   53,   12,   90,   55,
         73,   11,  566,  180,   83,  262,   17,   26,   31,  280,  359,
        213,  297,  387,  480,  381,  677,  486,    8,  244,  129,  388,
        275,  319, 2000,   52,   91,  421,  153,   27,   41,  222,   35,
        102,   23,   30,   33,  146,   13,   19,   14,  106,  276,  568,
        353,   47,  478,  249,  254,  369,  219,  565,  237,  227,  434,
        375,  162,  605,  654,    3,    7,    9,  104,  114,  186,  446,
        756,   22,  139,  500,   67,  147,  149,   16,   82,   54,   37,
         15, 1300, 3000,  952,    5,  749,  541,  330,  393,  517,  770,
        409,  170,  125,  283,  342,  363,  580,  105,  217,   24,  141,
         10,  427,  158,  426,    4,  666,  181,  324,  979, 1400,  302,
        751,  298,  411,  944,    2,  947,  292,  349,  621,    1, 2800,
        338,  287,  261,  218, 1800,  240,  279,  229,  188,  315,  664,
        613,  190,  706,  127,  462,  386,  695,  491,  167,  281,  250,
        307,   95,  231,  174,  680,  633,  221,  348,  602,  183,  653,
        195,  164,  151,  258, 8400,  343,  419,  655,  136,  399,  531,
        357,  228,  385,  312,  340,  238,  487,  355,  499, 4300,  296,
        515,  943, 1200,  903,  335,  191,  594,  267,  617,  516,  504,
        331,  652,  410,  550,  473,  442,  344,  208, 1000, 2500,  273,
        485,  826,  192,  405,  941,  477,  644,  303,  417, 6000,    0])

In [517]:
fifa_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18979 entries, 0 to 18978
Data columns (total 74 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     18979 non-null  int64
 1   Name                   18979 non-null  object
 2   Nationality            18979 non-null  object
 3   Age                    18979 non-null  int64
 4   ↓OVA                   18979 non-null  int64
 5   POT                    18979 non-null  int64
 6   Club                   18979 non-null  object
 7   Contract               18979 non-null  object
 8   Positions              18979 non-null  object
 9   Height                 18979 non-null  float64
 10  Weight                 18979 non-null  float64
 11  Preferred Foot         18979 non-null  object
 12  BOV                    18979 non-null  int64
 13  Best Position          18979 non-null  object
 14  Joined                 18979 non-null  datetime64[ns]
 15  Value                  18979 non-null  float64
 16  Wage                   18979 non-null  int64
 17  Release Clause         18979 non-null  float64
 18  Attacking              18979 non-null  int64
 19  Crossing               18979 non-null  int64
 20  Finishing              18979 non-null  int64
 21  Heading Accuracy       18979 non-null  int64
 22  Short Passing          18979 non-null  int64
 23  Volleys                18979 non-null  int64
 24  Skill                  18979 non-null  int64
 25  Dribbling              18979 non-null  int64
 26  Curve                  18979 non-null  int64
 27  FK Accuracy            18979 non-null  int64
 28  Long Passing           18979 non-null  int64
 29  Ball Control           18979 non-null  int64
 30  Movement               18979 non-null  int64
 31  Acceleration           18979 non-null  int64
 32  Sprint Speed           18979 non-null  int64
 33  Agility                18979 non-null  int64
 34  Reactions              18979 non-null  int64
 35  Balance                18979 non-null  int64
 36  Power                  18979 non-null  int64
 37  Shot Power             18979 non-null  int64
 38  Jumping                18979 non-null  int64
 39  Stamina                18979 non-null  int64
 40  Strength               18979 non-null  int64
 41  Long Shots             18979 non-null  int64
 42  Mentality              18979 non-null  int64
 43  Aggression             18979 non-null  int64
 44  Interceptions          18979 non-null  int64
 45  Positioning            18979 non-null  int64
 46  Vision                 18979 non-null  int64
 47  Penalties              18979 non-null  int64
 48  Composure              18979 non-null  int64
 49  Defending              18979 non-null  int64
 50  Marking                18979 non-null  int64
 51  Standing Tackle        18979 non-null  int64
 52  Sliding Tackle         18979 non-null  int64
 53  Goalkeeping            18979 non-null  int64
 54  GK Diving              18979 non-null  int64
 55  GK Handling            18979 non-null  int64
 56  GK Kicking             18979 non-null  int64
 57  GK Positioning         18979 non-null  int64
 58  GK Reflexes            18979 non-null  int64
 59  Total Stats            18979 non-null  int64
 60  Base Stats             18979 non-null  int64
 61  W/F                    18979 non-null  object
 62  SM                     18979 non-null  object
 63  A/W                    18979 non-null  object
 64  D/W                    18979 non-null  object
 65  IR                     18979 non-null  int64
 66  PAC                    18979 non-null  int64
 67  SHO                    18979 non-null  int64
 68  PAS                    18979 non-null  int64
 69  DRI                    18979 non-null  int64
 70  DEF                    18979 non-null  int64
 71  PHY                    18979 non-null  int64
 72  Hits                   18979 non-null  int32
 73  Playing at Club (yrs)  18979 non-null  int64
dtypes: datetime64[ns](1), float64(4), int32(1), int64(57), object(11)
memory usage: 10.6+ MB